<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">
<head>
	<title>Arquinventario</title>
</head>
<body>
	<div id='addNewComplaintBox' class='jumbotron'>
		<h2>Denunciar Demolição Clandestina</h2>

			<form id="formAddNewComplaint" name="formAddNewComplaint" class="form-horizontal" enctype="multipart/form-data" method="POST">
				<input type="text" class="form-control" placeholder="Título da Denúncia*" name="title" ng-model="title" ng-required="true">

				<input type="text" class="form-control" placeholder="Endereço da Demolição*" name="address" ng-model="address" ng-required="true">

				<input type="date" class="form-control" placeholder="Data*" name="date" ng-model="date" ng-required="true">

				<input type="text" class="form-control" placeholder="Descrição do Ambiente*" name="description" ng-model="description" ng-required="true">

				<div ng-show="formAddNewComplaint.title.$invalid && formAddNewComplaint.title.$dirty" class="alert alert-danger">
					Por favor, preencher o campo do título.
				</div>
				<div ng-show="formAddNewComplaint.address.$invalid && formAddNewComplaint.address.$dirty" class="alert alert-danger">
					Por favor, preencher o campo do local.
				</div>
				<div ng-show="formAddNewComplaint.date.$invalid && formAddNewComplaint.date.$dirty" class="alert alert-danger">
					Por favor, preencher o campo da data.
				</div>
				<div ng-show="formAddNewComplaint.description.$invalid && formAddNewComplaint.description.$dirty" class="alert alert-danger">
					Por favor, preencher o campo da descrição.
				</div>

				<div class='form-group'>
					<button type="button" ng-click='submit()'class="btn btn-primary">Denunciar</button>
					<button type="button" ng-click='goToHomePage()' class="btn btn-danger">Cancelar</button>
	      		</div>
			</form>
	</div>
</body>
</html>