<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">
<head>
	<title>Arquinventario</title>

	<!-- Optional theme -->
	<link rel="stylesheet" href="lib/materialize/bin/materialize.js">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="lib/materialize/bin/materialize.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
  
<body>

  <main>
    <center>
		<div class="container">
			<div class="z-depth-1 grey lighten-4 row offset-s3" style="display: inline-block; border-radius: 5px; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

			<center>
				<div class='row'>
					<form action='add-new-building.html'>
						<button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo' style="border-radius: 5px;">Cadastrar Novo Patrimônio</button>
					</form>
				</div>
			</center>
			</div>
		</div>
    </center>
  </main>

</body>

</html>
