<!DOCTYPE>
<html ng-app="app">
<meta charset="utf-8">
<head>
	<title>Arquinventario</title>
</head>

<body>
<h3 align="center">Abaixo você pode criar um novo administrador e ver os usuários cadastrados</h3>
	<div class='container-fluid .col-*'>
	<div align = "center" class="container card card-shadow .col-xs-6" class="thumbnail">
		<br>
	<div class = "caption">
	<h2 align="center" style="margin: 0 auto;"><strong>Cadastrar administrador<strong></h2>
		<br>
		<form name="formHome" id="formHome" class="form-horizontal" enctype="multipart/form-data" style="font-size: 15px; width: 800px; margin: 0 auto;">
			 <input id="name" type="text" class="form-control" name="nome" ng-model="nome" value="" placeholder="Nome completo" required="true"/>
			 <br>
			 <input id="user" type="email" class="form-control" name="email" ng-model="email2" value="" placeholder="Email" required="true"/>
			 <br>
			 <input id="password" type="password" class="form-control" name="password" ng-model="senha" placeholder="Senha" required="true">
			 <br>
			 <input id="password-repeat" type="password" class="form-control" name="password-repeated" ng-model="senhaRepetida" value="" placeholder="Repetir senha" required="true"/>
			 <p ng-show="error" style="color: red; font-size: 15px;">{{ error }}</p>
			<br>
			<div class="form-group" style="margin: 0 auto;">
				<button type="button" class="btn btn-primary" ng-click="signAdmin()">Criar</button>
				<button type="button" class="btn btn-primary" ng-click="clean()">Limpar</button>
			</div>
			<br>
		</form>
	</div>
</div>
</div>
		<h3 align="center">Administradores</h3>
	<div class='container-fluid .col-*'>
		<div align = "center" class="container card card-shadow .col-xs-6" class="thumbnail" ng-repeat="user in users" ng-show="user.role ==='admin'">
			<div class="caption">
				<p style="margin: 5px; font-weight: normal;"><strong>Nome:</strong> {{user.name}}</p>
				<p style="margin: 5px; font-weight: normal;"><strong>Email:</strong> {{user.email}}</p>

			</div>
		</div>
</div>

		<h3 align="center">Usuários</h3>
	<div class='container-fluid .col-*'>
		<div align = "center" class="container card card-shadow .col-xs-6" class="thumbnail" ng-repeat="user in users" ng-show="user.role ==='comum'">
			<div class="caption">
				<p style="margin: 5px; font-weight: normal;"><strong>Nome:</strong> {{user.name}}</p>
				<p style="margin: 5px; font-weight: normal;"><strong>Email:</strong> {{user.email}}</p>

			</div>
		</div>
</div>

<br>
</body>
</html>
